<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
<!--引入导航-->
{% include header.html %}
<!--主体内容-->
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
        		<div class="col-md-2 col-md-offset-1 hidden-xs header-about">
        			{% if site.model == 'pub' %}
						<a href="/"><img id="abouthead" src="{{ site.pub.image }}about.png"></a>
					{% else %}
						<a href="/"><img id="abouthead" src="{{ site.dev.image }}about.png"></a>
					{% endif %}
					<hr>
					<p class='about-info'>文章：<a href="/archive">{{ site.posts.size }} </a>篇</p>
					<p class='about-info'>项目：<a href="/resume">2</a> 个</p>
					<p class='about-info'>书本：<a href="/read">30</a> 本</p>
					<hr>
					<p class='about-info'><a href="mailto:i@searchp.cc">Email: cppery@gmail.com</a></p>
					<p class='about-info'><a href="http://github.com/searchpcc">Github: mistygg</a></p>
					<hr>
					<p class="notice">iOS开发者。</p>
        		</div>	
                <div class="col-md-8  main-content">
                    {{ content }}
                </div>
        </div>
    </div>
</div>
<!--引入结尾-->
{% include footer.html %}
<!--引入脚本-->
{% include script.html %}
</body>
</html>
